@font-face {
  font-family: 'ComicMono';
  src: url('ComicMono.woff') format('woff');
  src: url('ComicMono.woff2') format('woff2');
  font-weight: normal;
  font-style: monospace;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 21px;
  max-width: 80ch;
  margin: 0 auto;
}

main > * + * {
  margin-top: 1em;
}

h1 {
  text-align: center;
}

code {
  font-family: 'ComicMono', monospace;
}

.example {
  margin: 16px 0;
  padding: 0 24px;
}

.example details {
  margin-top: 8px;
}

.example code {
  white-space: break-spaces;
}
